<!-- 通知画面部分テンプレ -->
<% visitor = notification.visitor %>
<% visited = notification.visited %>


<div class="notification-content">
  <div class="notification-list">
    <div class="notification-list-img">
      <%= link_to user_path(visitor) do %>
        <span><%= image_tag visitor.get_profile_image(50, 50), class: "rounded-circle mr-1" %></span>
        <strong style="color: #000;"><%= visitor.name %></strong>
      <% end %>
      <span>さんが</span>
    </div>

    <% case notification.action %>
      <% when 'follow' then %>
        <span style="color: #000"><%= "あなたをフォローしました" %></span>
      <% when 'favorite' then %>
        <%= link_to "あなたの投稿", notification.post, class: "font-weight-bold text-dark" %>
        <%= "にいいね！しました" %>
      <% when 'post_comment' then %>
        <%= link_to "あなたの投稿", notification.post, class: "font-weight-bold text-dark" %>
          <span style="color: #000"><%= "にコメントしました" %></span>
    <% end %>
    <span class="ml-1" style="color: #808080;">(<%= time_ago_in_words(notification.created_at) %>前)</span>
  </div>
</div>