<!-- Log in画面 -->
<div class="conteiner p-3">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h2 class="py-5 mb-0" style="font-family: fantasy;">Log in</h2>

      <div class="field-body p-4">
        <%= form_with model: @user, url: user_session_path do |f| %>
          <div class="field mb-3">
            <%= f.email_field :email, placeholder: " Email Address", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field mb-3">
            <%= f.password_field :password, placeholder: " Password", autocomplete: "current-password" %>
          </div>

          <div class="field mb-3">
            <%= f.submit "Log in", class: "btn btn-outline-warning btn-sm mt-4" %>
          </div>
        <% end %>

        <div class="signin-field">
          <p>──────　Or Login with　──────</p>
          <div class="signin-field-image">
            <%= image_tag "facebook.png", class: "icon" %>
            <%= image_tag "instagram.jpeg", class: "icon" %>
            <%= image_tag "twitter.png", class: "icon" %>
          </div>
          <p>
            New to bikeen? <%= link_to "Sign up now", new_user_registration_path, class: "signup-link" %>
          </p>
          <%# render "user/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>