<!-- ハッシュタグ一覧 -->
<div class="hashtag-wrap">
  <% if params[:name] == nil %>
  <% else %>
    <h4 class="hashtag-title font-weight-bold">#<%= @hashtag.hashname %>: <%= @posts.count %>件</h4>
    <ul class="hashtag-post">
      <% @posts.each do |post| %>
        <li>
          <%= link_to post_path(post.id) do %>
            <% if post.images.attached? %>
              <%= image_tag post.images[0], size: '100*100' %><br />
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="hashtag-name">
    <% @hashtags.sort.reverse.each do |count| %>
      <% count[1].each do |hashtag| %>
        <span class="mr-2">
          <%= link_to "##{hashtag.hashname} (#{hashtag.posts.count}) 件", "/post/hashtag/#{hashtag.hashname}", data: {"turbolinks" => false }, class: "text-dark" %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>