<!-- 新規投稿画面 -->
<div class="conteiner p-3">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h3 class="py-5 mb-0" style="font-family: fantasy;">New post</h3>

      <div class="field-body p-4">
        <%= form_with model: @post, url: posts_path do |f| %>
          <div class="field mb-3">
            <%= image_tag @user.get_profile_image(100, 100), class: "profile-icon mb-5" %><br />
            <%= f.label :画像 %><br />
            <%= f.file_field :images, multiple: true %>
          </div>

          <%#div class="field mb-3">
            <%# f.label :動画 %>
            <%# f.file_field :movie %>
          <%#/div%>

          <div class="field mb-3">
            <%= f.label :投稿内容 %><br />
            <%= f.text_area :content, style: "width: 50%;" %>
          </div>

          <div class="field mb-3">
            <%= f.label :ハッシュタグ入力欄 %><br />
            <%= f.text_area :hashbody, style: "width: 50%;" %>
          </div>

          <div class="field mb-3">
            <%= f.label:スポット %><br />
            <%= f.text_field :spot, style: "width: 50%;" %>
          </div>

          <div class="field mb-3">
            <%= f.submit "投稿する", class: "btn btn-dark btn-sm mt-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
